@import '../styles/variables.module.scss';
@import '../styles/mixin.module.scss';

.container {
  position: relative;
  // height: 100vh;
  width: 100vw;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 3vh;
  padding-bottom: 3vh;

  @include m {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

.main {
  padding-left: 10vw;
  padding-right: 10vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  color: white;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  @include m {
    font-size: 7rem;
  }
}

.text {
  color: white;
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 2rem;
  @include m {
    font-size: 2.5rem;
  }
}

.highlight {
  color: turquoise;
}
