@import '../styles/variables.module.scss';
@import '../styles/mixin.module.scss';

.container {
  position: relative;
  width: 100vw;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 3vh;
  padding-bottom: 3vh;

  @include m {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

.main {
  padding-left: 7vw;
  padding-right: 7vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @include m {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.title {
  color: white;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  @include m {
    font-size: 7rem;
    margin-bottom: 2rem;
  }
}

.divider {
  border: 0.5rem solid turquoise;
  position: absolute;
  height: 80%;
  top: 20rem;
  left: calc(50vw - 0.25rem);
  border-radius: 1rem;
}

.item {
  border: 0.5rem solid turquoise;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0.5rem 0.5rem gold;

  &_left {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2vw;
  }

  &_right {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: -2vw;
  }

  &_content {
    padding: 1rem;
    width: 80vw;

    @include m {
      padding: 2rem;
      width: 35vw;
    }
  }

  &_title {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;

    @include m {
      font-size: 2rem;
    }
  }

  &_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &_text {
    word-wrap: break-word;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;

    @include m {
      font-size: 1.8rem;
    }
  }
}

.margin_top {
  margin-top: 2rem;
}

.pointer {
  width: 2.35vw;
  border: 0.5rem solid turquoise;
}

.dot {
  border: 0.5rem solid gold;
  -webkit-border-radius: 30px;
  height: 3rem;
  width: 3rem;
  position: absolute;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
  left: calc(50% - 1.25rem);
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.highlight {
  color: turquoise;
}
